*{
    font-family: 'Roboto Mono', monospace;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

body{
    background-image: url(./images/color\ background.jpg);
    background-color: black;
    margin: 0;
    padding:0;
    color: #f9f9f9;
}

#personalNav{
    margin-top: 25px;
    padding-left: 70px;
    margin-right: 25px;
    margin-left: 25px;
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0.15); 
    backdrop-filter: blur(5px);
    display: flex;
    border-radius: 30px;
}

ul{
    margin-top: 27px;
    display: flex;
    gap: 2.5rem;
    flex-wrap: wrap;
    flex-direction: row;
    transition: .5s;
    font-size: medium;
}

li{
    display: block;
}

ul:hover li {
    transition: 0.5s;
    filter: blur(5px);
    cursor: pointer;
}

ul li:hover{
    transition: 0.5s;
    filter: blur(0px);
    font-size: large;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display:none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.60);
    backdrop-filter: blur(10px);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    padding: 12px 16px;
    z-index: 1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    transition: 0.5s;
  }
  
  .dropdown-content a{
    text-decoration: none;
    color: black;
  }

  .dropdown-content a:hover{
    opacity: 0.6;
    text-decoration: underline;
  }
  


#aboutMe{
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.15); 
    backdrop-filter: blur(5px);
    margin-right: 50px;
    margin-left: 50px;
    border-radius: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
}

#aboutMe h2{
    background-color: rgba(255, 251, 251, 0.15); 
    border-radius: 10px;
    padding-left: 25px;
    max-width: 30%;
    max-height: 75px;
}


#myPic{
    padding-left: 30%;
    max-width: 25%;
    
}

.fullStackIcons{
    align-items: center;
    margin-right: 100px;
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
}

.fullStackIcons img{
    scale:120%
}

.worksArea, .resumeArea{
    margin-top: 25px;
    background-color: rgba(255, 251, 251, 0.15); 
    border-radius: 15px;
    max-width: 100%;
    height: 100px;
    margin-right: 25px;
    margin-left: 25px;
}

.worksArea:hover, .resumeArea:hover{
    transition: 2s;
    cursor: pointer;
    box-shadow: inset 0px 0px 100px -20px white,0px 10px 15px -3px rgba(0,0,0,0.1);
}

#viewBtn, #viewResume{
    display: flex;
    justify-content: center;
    position: relative;
    top: 35px;
}


.bigProjectCard{
    text-align: center;
    margin-top: 35px;
    background-color: rgba(255, 255, 255, 0.15); 
    backdrop-filter: blur(5px);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-right: 50px;
    margin-left: 50px;
    padding-top: 35px;
    transition: 0.5s ease;
}

.bigProjectCard h3{
    background-color: rgba(255, 251, 251, 0.15); 
    border-radius: 10px;
    margin-left: 175px;
    margin-right: 175px;
    padding-top: 10px;
    height: 50px;
}

.wrapper{
    overflow: hidden;
}

.wrapper img{
    transition: scale 400ms;
}

.wrapper:hover img{
    scale: 100%;
    cursor: pointer;
}

.projectImg{
    scale:90%;
    max-width: 60%;
    border-radius: 10px;
}

.resumePdf{
    padding-top: 35px;
    display: flex;
    justify-content: center;
    width:100%;
    transition: 0.5s ease;
}

.resumePdf object{
    width: 1000px;
    height: 1000px
}

.footer{
    text-align: center;
    margin-top: 50px;
    max-width: 100%;
    height: 50px;
    background-color: rgba(255, 251, 251, 0.15);
    border-radius: 30px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 25px;
    
}

.footer h3{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    bottom: -15px;
}

@media only screen
and (max-width : 768px){
    
    ul{
    display: flex;
    flex-direction: column;
    padding: 0%;
}

#personalNav{
    display:block;
    text-align: center;
    padding: 0%;
}

#aboutMe h2{
    max-width:70%;
}

.bigProjectCard{
    display: flex;
    flex-direction: column;
}

.worksArea, .resumeArea{
    max-height: 50px;
    max-width: 300px;
}

#viewBtn,#viewResume{
    position: relative;
    top: 10px
}

.dropdown:hover .dropdown-content {
    transition: 0.5s;
    display: block;
    transition: 0.5s;
    position: relative;
    right: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}